asn1crypto==0.24.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.4
Django==1.10.5
django-pipeline==1.6.13
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.19
paypalrestsdk==1.13.1
Pillow==5.0.0
pycparser==2.18
pyOpenSSL==17.5.0
pytz==2017.3
requests==2.18.4
six==1.11.0
sorl-thumbnail==12.4.1
stripe==1.77.0
urllib3==1.22
virtualenv==15.1.0
