{% extends "catalog/catalog_base.html" %}

{% block catalog-content %}
<div class="action-form register">
	<form method="post" action="{% url 'accounts_register' %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next_url }}"/>
		{% if as_superuser %}
		<p class="error-message-box" style="margin-bottom: 20px;">
			Register yourself as site administrator, you will have all permissions on this site.
		</p>
		{% endif %}
		{% if success %}
		<div class="success-message-box">
			{{ success|safe }}
		</div>
		{% else %}
		<h3>Please fill all the data to register an account in {{SITE_NAME}}</h3>
		<ul>
			<li>
				{{ form.first_name }}
				{{ form.first_name.errors }}
			</li>
			<li>
				{{ form.last_name }}
				{{ form.last_name.errors }}
			</li>
			<li>
				{{ form.email }}
				{{ form.email.errors }}
			</li>
			{% comment %}
			<li>
				{{ form.username }}
				{{ form.username.errors }}
			</li>
			{% endcomment %}
			<li>
				{{ form.password }}
				{{ form.password.errors }}
			</li>
			<li>
				{{ form.confirm_password }}
				{{ form.confirm_password.errors }}
			</li>
			<li>
				{{ form.terms_condition }} Please accept the terms and conditions before proceeding.
				{{ form.terms_condition.errors }}
			</li>
			<li>
				<input type="submit" value="Register"/>
			</li>
		</ul>
		{% endif %}
	</form>
</div>
{% endblock %}
