.text {
  color: #000;
}
.light-text {
  color: #888;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.border {
  border: 1px solid #eee;
}
* {
  padding: 0px;
  margin: 0px;
  outline: none;
}
body,
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
label {
  color: #000;
}
body {
  line-height: 1.3;
  height: 100%;
  background: #fff;
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size: 12px !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
input[type="radio"] {
  margin: 3px 0.5ex;
}
li {
  list-style-type: none;
}
a {
  color: #0260bf;
  text-decoration: none;
  font-weight: inherit;
}
a:hover {
  color: #e74c3c;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a86c6;
  font-weight: 300;
  overflow: hidden;
}
h4 {
  font-size: 12px;
}
h3 {
  font-size: 13px;
}
h2 {
  font-size: 14px;
}
h1 {
  font-size: 15px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #eee;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  padding: 5px;
}
select {
  height: 2.1em;
  box-sizing: border-box;
  background: white;
}
.button {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background: #1a86c6;
  border: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.button:hover {
  text-decoration: none;
}
input[type="submit"],
input[type="button"],
button {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background: #1a86c6;
  border: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input[disabled="disabled"] {
  opacity: 0.5;
  filter: alpha(opacity = (@{@opacity-percentage}));
}
a.button,
a:hover.button {
  color: white;
}
.info-message {
  color: #000;
}
.success-message {
  color: green;
}
.error-message {
  color: maroon;
}
.navbar {
  z-index: 1001;
}
.menu {
  position: absolute;
  top: 96px;
  right: 0;
  z-index: 1000;
  padding: 1.5rem;
}
.logo {
  display: inline-block;
  padding: 5px 0px;
  margin-top: 14px;
  background: url("/static/doorsale/img/doorsale-logo-100x23.png") no-repeat;
  width: 100px;
  text-indent: -9999em;
  overflow: hidden;
}
.logo h1 {
  color: white !important;
  float: left;
}
a {
  color: whitesmoke;
}
a:hover {
  color: white;
  text-decoration: none !important;
}
#menu {
  float: right;
}
#menu li {
  float: left;
  padding: 0 1rem;
  /* border-left: 1px solid rgba(255, 255, 255, 0.2); */
}
#menu li:first-child {
  border-left: none;
}
#menu .search-box {
  margin: 0.5rem;
}
h2 {
  font-size: 1.4em;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
footer {
  color: white;
  background: #282b2d;
  min-height: 100px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
footer a {
  color: #b3b3b3;
}
footer a:hover,
footer h4 {
  color: white;
  text-decoration: none;
}
footer .groups {
  display: inline-block;
  text-align: left;
  margin: 40px 0px 80px 0px;
}
footer .groups h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .groups li.group-header {
  float: left;
  padding: 0px 30px;
}
footer .groups li.group-header .group-links li {
  padding: 5px 0px;
}
footer .copyright {
  background: #444;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  text-align: center;
}
footer .copyright .statement {
  float: left;
}
footer .copyright .poweredby {
  float: right;
}
#content {
  clear: both;
  overflow: hidden;
}
.box {
  border: 1px solid #eee;
}
.center {
  margin: auto;
}
.box-center {
  border: 1px solid #eee;
  margin: auto;
}
.action-form input[type="text"],
.action-form input[type="password"],
.action-form input[type="email"],
.action-form select {
  font-size: 1.1em;
  width: 100%;
}
.action-form h3 {
  border-bottom: 1px dotted #eee;
  padding-bottom: 5px;
}
.action-form ul {
  clear: both;
  margin-left: 20px;
  max-width: 400px;
  margin-bottom: 10px;
}
.action-form ul ul {
  margin-left: 0px;
}
.action-form li {
  overflow: hidden;
  padding: 10px 0px;
}
.action-form input[type="submit"],
.action-form button,
.action-form .button {
  float: right;
}
.action-form ul.errorlist {
  margin-bottom: 0px;
}
.action-form .errorlist,
.action-form .gender {
  padding-top: 0px;
}
.action-form .errorlist li,
.action-form .gender li {
  padding: 2px;
}
.action-form .gender li {
  float: left;
}
.action-form-center {
  margin: auto;
  max-width: 400px;
}
.action-form-center input[type="text"],
.action-form-center input[type="password"],
.action-form-center input[type="email"],
.action-form-center select {
  font-size: 1.1em;
  width: 100%;
}
.action-form-center h3 {
  border-bottom: 1px dotted #eee;
  padding-bottom: 5px;
}
.action-form-center ul {
  clear: both;
  margin-left: 20px;
  max-width: 400px;
  margin-bottom: 10px;
}
.action-form-center ul ul {
  margin-left: 0px;
}
.action-form-center li {
  overflow: hidden;
  padding: 10px 0px;
}
.action-form-center input[type="submit"],
.action-form-center button,
.action-form-center .button {
  float: right;
}
.action-form-center ul.errorlist {
  margin-bottom: 0px;
}
.action-form-center .errorlist,
.action-form-center .gender {
  padding-top: 0px;
}
.action-form-center .errorlist li,
.action-form-center .gender li {
  padding: 2px;
}
.action-form-center .gender li {
  float: left;
}
.errorlist {
  color: maroon;
}
[context-menu] {
  display: none;
  background: white;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 36px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
[context-menu] .arrow {
  background: url("/static/doorsale/img/sprites.png");
  background-position: -266px -8px;
  display: block;
  height: 18px;
  right: 0;
  margin-right: 12px;
  margin-top: -17px;
  position: absolute;
  top: 0;
  width: 25px;
}
.ui-dialog {
  background: white;
  box-shadow: 0px 0px 2px white;
  border: 2px solid #eee;
  width: auto;
  z-index: 101;
}
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.message-box {
  background: whitesmoke;
  display: inline-block;
  padding: 5px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.info-message-box {
  background: whitesmoke;
  display: inline-block;
  padding: 5px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #000;
  border-left: 2px solid #000;
}
.success-message-box {
  background: whitesmoke;
  display: inline-block;
  padding: 5px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: green;
  border-left: 2px solid green;
}
.error-message-box {
  background: whitesmoke;
  display: inline-block;
  padding: 5px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: maroon;
  border-left: 2px solid maroon;
}
.input-error {
  color: maroon !important;
  text-decoration: underline;
}
.price {
  color: #b50b0b;
  font-size: 1em;
}
.price .old-price,
.price .discount {
  font-size: 0.8em;
  color: #888;
  font-weight: normal;
}
.price .old-price {
  text-decoration: line-through;
}
#catalog-bar {
  background: whitesmoke;
  padding: 12px 10px;
  margin-bottom: 15px;
}
#catalog-bar .cart-basket {
  float: right;
  margin-top: -2px;
}
#catalog-bar .cart-basket .currencies {
  display: inline-block;
  padding: 2px;
  margin-top: -4px;
}
#catalog-bar .cart-basket #basket-container {
  display: inline-block;
}
#catalog-bar .cart-basket #basket-container .basket {
  position: relative;
  margin-right: 7px;
  padding: 3px 0;
}
#catalog-bar .cart-basket #basket-container .basket label {
  cursor: inherit;
  font-weight: bold;
}
#catalog-bar .cart-basket #basket-container .basket .basket-cap {
  cursor: pointer;
}
#catalog-bar .cart-basket #basket-container .basket .basket-cap .cart-count {
  width: 24px;
  display: inline-block;
}
#catalog-bar .cart-basket #basket-container .basket .basket-cap .cart-count .basket-items-count {
  color: white;
  text-shadow: 0 0 1px white;
  background: #1a86c6;
  padding: 0px 3px;
  left: -7px;
  padding: 1px 4px;
  position: absolute;
  z-index: 1;
  top: -6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#catalog-bar .cart-basket #basket-container .basket .basket-cap .cart-count i {
  font-size: 24px;
  top: -2px;
  position: absolute;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items {
  min-width: 300px;
  max-width: 400px;
  right: 0px;
  left: auto;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items .no-items {
  text-align: center;
  padding: 10px 0px;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items .sub-total {
  background: whitesmoke;
  border-top: 1px solid #eee;
  padding: 5px 10px;
  overflow: hidden;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items .sub-total p {
  float: left;
  margin-top: 5px;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items .sub-total .button {
  float: right;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item {
  padding: 10px;
  overflow: hidden;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item .item-preview {
  float: left;
  height: 54px;
  width: 54px;
  margin-right: 5px;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item .item-preview img {
  max-height: 54px;
  max-width: 54px;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item a {
  display: block;
  margin-top: 5px;
  overflow: hidden;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item p {
  margin-top: 5px;
  text-align: right;
  font-size: 0.8em;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item .cart-item-remove {
  float: right;
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item .cart-item-remove a {
  color: #000;
  cursor: pointer;
  font-size: 1.2em;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: filter 1s;
  -webkit-transition: filter 1s;
  opacity: 0;
  filter: alpha(opacity = (@{@opacity-percentage}));
}
#catalog-bar .cart-basket #basket-container .basket .basket-items ul li.cart-item:hover .cart-item-remove a {
  opacity: 0.5;
  filter: alpha(opacity = (@{@opacity-percentage}));
}
#catalog-bar .breadcrumbs {
  overflow: hidden;
  display: inline-block;
  color: #999;
}
#catalog-bar .breadcrumbs a {
  color: #666;
}
#catalog-bar .breadcrumbs li {
  float: left;
}
#catalog-bar .breadcrumbs li:after {
  content: '/';
  margin-right: 5px;
}
#catalog-bar .breadcrumbs li:last-child:after {
  content: none;
}
.search-box {
  float: left;
  position: relative;
  margin-top: -4px;
  margin-bottom: -10px;
}
.search-box .fa {
  color: #666;
}
.search-box input[type="text"] {
  font-size: 1em;
  padding: 5px 12px;
  padding-right: 25px;
  width: 220px;
  color: #000;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
.search-box button {
  right: 0px;
  font-size: 1.1em;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  position: absolute;
  background: transparent;
  color: white;
  border: none;
}
.search-box input[type="text"],
.search-box button {
  height: 26px;
}
.add-to-cart,
.buy-now {
  font-size: 1em;
}
.add-to-cart .fa,
.buy-now .fa {
  font-size: 1.2em;
}
.add-to-cart .fa:before,
.buy-now .fa:before {
  margin-right: 5px;
  padding-right: 5px;
}
.add-to-cart {
  background: #e74c3c !important;
}
.buy-now {
  background: orange !important;
}
#categories-sidebar {
  border-right: 1px solid #eee;
  float: left;
  width: 18%;
  min-height: 400px;
}
#categories-sidebar h5 {
  padding: 13px 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
#categories-sidebar a {
  color: #000;
}
#categories-sidebar a:hover {
  color: #e74c3c;
}
#categories-sidebar ul li {
  border-bottom: 1px dotted #eee;
}
#categories-sidebar ul li a {
  display: block;
  padding: 5px 15px;
}
#categories-sidebar ul li .sub-categories {
  clear: both;
  display: none;
}
#categories-sidebar ul li .sub-categories li {
  padding-left: 15px;
}
#categories-sidebar ul li .sub-categories li:last-child {
  border-bottom: none;
}
#categories-sidebar ul li .parent-category {
  cursor: pointer;
}
#categories-sidebar ul li .parent-category:after {
  content: '\21E2';
  float: right;
  color: #1a86c6;
}
#categories-sidebar ul li .parent-category.arrow-down:after {
  content: '\21E3';
}
#categories-sidebar ul li .parent-category:hover:after {
  color: #000;
}
#categories-sidebar ul .no-categories-msg {
  margin: 5px;
}
#catalog-content-container {
  overflow: hidden;
}
#catalog-content-container #catalog-content {
  padding: 10px;
  padding-right: 20px;
}
#catalog-content-container #catalog-content h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #eee;
}
#catalog-content-container #catalog-content .advance-search {
  width: 400px;
  font-size: 1em;
  margin-bottom: 20px;
  padding-right: 60px;
  position: relative;
}
#catalog-content-container #catalog-content .advance-search input[type="text"],
#catalog-content-container #catalog-content .advance-search input[type="password"],
#catalog-content-container #catalog-content .advance-search input[type="email"],
#catalog-content-container #catalog-content .advance-search select {
  font-size: 1.1em;
  width: 100%;
}
#catalog-content-container #catalog-content .advance-search h3 {
  border-bottom: 1px dotted #eee;
  padding-bottom: 5px;
}
#catalog-content-container #catalog-content .advance-search ul {
  clear: both;
  margin-left: 20px;
  max-width: 400px;
  margin-bottom: 10px;
}
#catalog-content-container #catalog-content .advance-search ul ul {
  margin-left: 0px;
}
#catalog-content-container #catalog-content .advance-search li {
  overflow: hidden;
  padding: 10px 0px;
}
#catalog-content-container #catalog-content .advance-search input[type="submit"],
#catalog-content-container #catalog-content .advance-search button,
#catalog-content-container #catalog-content .advance-search .button {
  float: right;
}
#catalog-content-container #catalog-content .advance-search ul.errorlist {
  margin-bottom: 0px;
}
#catalog-content-container #catalog-content .advance-search .errorlist,
#catalog-content-container #catalog-content .advance-search .gender {
  padding-top: 0px;
}
#catalog-content-container #catalog-content .advance-search .errorlist li,
#catalog-content-container #catalog-content .advance-search .gender li {
  padding: 2px;
}
#catalog-content-container #catalog-content .advance-search .gender li {
  float: left;
}
#catalog-content-container #catalog-content .advance-search li {
  overflow: hidden;
}
#catalog-content-container #catalog-content .advance-search label {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}
#catalog-content-container #catalog-content .advance-search input[type="text"],
#catalog-content-container #catalog-content .advance-search select {
  font-size: 1em;
  width: 250px;
  float: right;
  height: 2em;
}
#catalog-content-container #catalog-content .advance-search select {
  padding-top: 3px;
}
#catalog-content-container #catalog-content .advance-search input[name="price_from"],
#catalog-content-container #catalog-content .advance-search input[name="price_to"] {
  width: 123px;
}
#catalog-content-container #catalog-content .advance-search input[name="price_from"] {
  margin-right: 5px;
}
#catalog-content-container #catalog-content .advance-search #advance-search-filter {
  font-size: 18px;
  position: absolute;
  right: 33px;
  top: 13px;
  cursor: pointer;
}
#catalog-content-container #catalog-content .advance-search .advance-search-option {
  display: none;
}
#catalog-content-container #catalog-content .advance-search .errorlist {
  clear: both;
  float: right;
  width: 250px;
}
#catalog-content-container #catalog-content .in-stock,
#catalog-content-container #catalog-content .out-of-stock {
  font-weight: bold;
}
#catalog-content-container #catalog-content .in-stock {
  color: #27ae60;
}
#catalog-content-container #catalog-content .out-of-stock {
  color: maroon;
}
#catalog-content-container #catalog-content .products-list {
  clear: both;
  overflow: hidden;
}
#catalog-content-container #catalog-content .products-list .product {
  float: left;
  width: 200px;
  height: 20em;
  text-align: center;
  margin: 10px;
  padding: 5px;
  box-shadow: 0 0 4px #eee;
  border: 1px solid #eee;
}
#catalog-content-container #catalog-content .products-list .product .title {
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#catalog-content-container #catalog-content .products-list .product .description {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 2.2em;
}
#catalog-content-container #catalog-content .products-list .product .pic-container {
  height: 128px;
  width: 128px;
  margin: auto;
}
#catalog-content-container #catalog-content .products-list .product .pic-container img {
  max-height: 128px;
  max-width: 128px;
}
#catalog-content-container #catalog-content .products-list .product div {
  padding: 5px 10px;
}
#catalog-content-container #catalog-content .pagination {
  clear: both;
  margin-top: 10px;
  border-bottom: 1px dotted #eee;
  padding: 10px;
}
#catalog-content-container #catalog-content .pagination a {
  border: 1px solid #eee;
  padding: 5px;
  display: inline-block;
}
#catalog-content-container #catalog-content .product-summary {
  float: right;
  width: 60%;
}
#catalog-content-container #catalog-content .product-summary h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}
#catalog-content-container #catalog-content .product-summary h2 .discount {
  font-size: 0.9em;
  float: right;
  background: #f1c40f;
  color: white;
  padding: 0px 5px;
  -webkit-border-radius: 7px 0px;
  -moz-border-radius: 7px 0px;
  -ms-border-radius: 7px 0px;
  -o-border-radius: 7px 0px;
  border-radius: 7px 0px;
}
#catalog-content-container #catalog-content .product-summary label {
  font-weight: bold;
}
#catalog-content-container #catalog-content .product-summary .add-to-cart-summary input[type="text"] {
  height: 26px;
  padding: 2px;
  width: 25px;
  text-align: center;
}
#catalog-content-container #catalog-content .product-summary .free-shipping {
  color: #f1c40f;
  border: 1px dashed #f1c40f;
  padding: 5px 5px;
  -webkit-border-radius: 7px 0px;
  -moz-border-radius: 7px 0px;
  -ms-border-radius: 7px 0px;
  -o-border-radius: 7px 0px;
  border-radius: 7px 0px;
  display: inline-block;
}
#catalog-content-container #catalog-content .product-summary li {
  padding: 5px 0px;
}
#catalog-content-container #catalog-content #product-show {
  margin-left: 40px;
  position: relative;
  overflow: hidden;
  width: 250px;
}
#catalog-content-container #catalog-content #product-show #preview-container {
  height: 250px;
}
#catalog-content-container #catalog-content #product-show #preview-container img {
  max-width: 100%;
  max-height: 100%;
}
#catalog-content-container #catalog-content #product-show #slides-container {
  margin-top: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
}
#catalog-content-container #catalog-content #product-show .prev,
#catalog-content-container #catalog-content #product-show .next {
  float: left;
  background: #eee;
  color: #000;
  font-size: 12px;
  height: 47px;
  padding: 16px 6px;
  width: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#catalog-content-container #catalog-content #product-show .prev:hover,
#catalog-content-container #catalog-content #product-show .next:hover {
  text-decoration: none;
}
#catalog-content-container #catalog-content #product-show .next {
  float: right;
}
#catalog-content-container #catalog-content #product-show #pics-slideshow {
  overflow: hidden;
  float: left;
  width: 208px;
}
#catalog-content-container #catalog-content #product-show #pics-slideshow ul {
  padding-left: 30px;
  width: 3900px;
}
#catalog-content-container #catalog-content #product-show #pics-slideshow ul li {
  cursor: pointer;
  float: left;
  margin: 0 16px;
}
#catalog-content-container #catalog-content #product-show #pics-slideshow ul li img {
  width: 44px;
  height: 44px;
}
#catalog-content-container #catalog-content #product-details {
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 200px;
}
#catalog-content-container #catalog-content #product-details #product-tabs {
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
#catalog-content-container #catalog-content #product-details #product-tabs li {
  float: left;
  padding: 7px 10px;
  margin-left: 10px;
}
#catalog-content-container #catalog-content #product-details #product-tabs li.ui-tabs-active {
  border: 1px solid #eee;
  border-bottom-color: white;
}
#catalog-content-container #catalog-content #product-details .ui-tabs-panel {
  clear: both;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 0.9em;
}
#catalog-content-container #catalog-content #product-details .ui-tabs-panel table {
  border-spacing: 0;
  font-size: 1em;
  width: 100%;
}
#catalog-content-container #catalog-content #product-details .ui-tabs-panel table td {
  padding: 5px;
}
#catalog-content-container #catalog-content #product-details .ui-tabs-panel table tr:nth-child(even) {
  background: whitesmoke;
}
.zoomWindow {
  border: 1px solid #999 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
