{% extends "skeleton.html" %}

{% load staticfiles %}
{% load pipeline %}
{% load pages_tags %}
{% load cache %}

{% block head %}
{{ block.super }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="application-name" content="{{ SITE_NAME }}"/>
<meta name="copyright" content="{{ COPYRIGHT }}"/>
<meta name="description" content="{{ page_description|default:SITE_DESCRIPTION }}"/>
{% block og_meta %}
<meta property="og:site_name" content="{{ SITE_NAME }}"/>
<meta property="og:title" content="{{ page_title|default:SITE_TITLE }} | {{ SITE_NAME }}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="{% static 'img/icon.png' %}"/>
<meta property="og:description" content="{{ page_description|default:SITE_DESCRIPTION }}"/>
<meta name="author" content="{{ SITE_NAME }}, {{ CONTACT_EMAIL }}"/>
{% endblock %}
<title>{{ page_title|default:SITE_TITLE }} | {{ SITE_NAME }}</title>
<link rel="icon shortcut" href="{% static 'img/icon.png' %}" type="image/png"/>

{% block styles %}
{% stylesheet style_name %}
{% endblock %}
{% endblock %}

{% block body %}
{{ block.super }}
<nav class="navbar navbar-dark bg-dark">
	{% block header-content %}
	{% block header-logo %}
	<a href="{% url 'catalog_index' %}" class="logo"><h1>{{ SITE_NAME }}</h1></a>
	{% endblock %}
	<div>
		<ul id="menu">
			{% block header-menu-list %}
			{% endblock %}
			<li>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			</li>
		</ul>
		{% endblock %}
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg-dark menu">
				{% if user.is_authenticated %}
				<h4 class="text-white">Collapsed content</h4>
				<span class="text-muted">Bienvenido {{ user.get_username }}.</span>

				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					{% if user.is_staff %}
					<a class="nav-link" href="/admin/">Admin</a>
					{% endif %}
					<a class="nav-link" href="{% url 'accounts_change_password' %}">Change password</a>
					<a class="nav-link" href="{% url 'accounts_logout' %}">Logout</a>
					{% else %}
					<a class="nav-link" href="{% url 'accounts_login' %}">Login</a>
					<a class="nav-link" href="{% url 'accounts_register' %}" title="Register to shop faster and better!">Register</a>
					{% endif %}

				</div>
			</div>
		</div>
	</nav>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<footer>
		{% block footer %}
		{% cache cache_timeout page-links %}
		{% get_pages_links %}
		<div class="copyright">
			<p>
				<span class="statement">{{ COPYRIGHT|safe }}</span> <span class="poweredby">Powered by <a href="https://github.com/mysteryjeans/doorsale">Doorsale</a></span>
				<p>
				</div>
				{% endcache %}
				{% endblock %}
			</footer>
			{% block scripts %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			{% javascript 'base' %}
			{% endblock %}
			{% endblock %}